@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --primary-color: #007bff;
    --secondary-color: #17a2b8;
    --background-color: #030621;
    --text-color: #d4e8f7;
    --section-background-color: #030621;
    --section-text-color: #d4e8f7;
}

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    margin-top: 5%;
    background-color: var(--background-color);
    color: var(--text-color);
    overflow-x: hidden;
    display: grid;
    min-height: 100vh;
}

h1,
h2,
h3 {
    font-family: "Playfair Display", serif;
    color: var(--text-color);
}

h2 {
    margin-bottom: 3%;
}

a {
    text-decoration: none;
    color: var(--secondary-color);
    display: inline;
}

a:hover {
    color: var(--primary-color);
}

a::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background: #007bff;
    transform: scale(0);
    transition: transform 0.2s ease-in-out;
}

a:hover::after {
    transform: scale(1);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 15%;
    background-color: var(--background-color);
    color: var(--text-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

header {
    padding: 4% 15%;
    text-align: justify;
    background-color: var(--section-background-color);
    color: var(--section-text-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
    margin-right: 1%;
}

header .title {
    display: flex;
    align-items: center;
}

header .title h2 {
    font-size: 2em;
}

header h2 {
    margin-bottom: 1%;
}

.btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btn-container {
    margin-top: 2%;
}

.btn-container ul {
    display: flex;
}

.btn-container li {
    padding-right: 1%;
}

.btn-container a {
    padding-right: 1%;
}

.text-bold {
    font-weight: bold;
    color: var(--secondary-color);
}

main {
    padding: 4% 15%;
    display: grid;
    gap: 80px;
    /* Espacement entre les sections */
}

section {
    border-radius: 8px;
    background-color: var(--section-background-color);
    color: var(--section-text-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.competences {
    display: flex;
    justify-content: space-between;
}

.competences img {
    padding-right: 2%;
}

.competences li {
    display: flex;
    align-items: center;
    padding-bottom: 10%;
}

.skills {
    font-weight: bold;
    margin-bottom: 10px;
}

.skills li {
    padding-bottom: 10%;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 50px;
}

.card {
    background-color: var(--section-background-color);
    color: var(--section-text-color);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
}

.card-body {
    padding: 20px;
}

.card-text {
    margin-top: 5%;
    margin-bottom: 5%;
    line-height: 150%;
}

.btnProjet {
    display: inline-block;
    padding: 2px 5px;
    background-color: var(--primary-color);
    color: var(--section-background-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    /* Ajout de la propriété de décoration de texte */
}

.btnProjet:hover {
    background-color: var(--secondary-color);
    color: #030621;
}

.btnProjetLang {
    display: inline-block;
    padding: 2px 5px;
    background-color: var(--primary-color);
    color: var(--section-background-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    /* Ajout de la propriété de décoration de texte */
}

.btnProjetLang:focus {
    background-color: var(--secondary-color);
    color: #030621;
}

.formations {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.certifications {
    flex: 1;
}

.certifications p {
    padding-bottom: 2%;
}

.cv {
    margin-left: 20px;
}

footer {
    padding: 4% 15%;
    text-align: justify;
    background-color: var(--section-background-color);
    color: var(--section-text-color);
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}

footer ul {
    display: flex;
    list-style: none;
    margin-top: 20px;
}

footer ul li {
    margin: 0 10px;
}

/* Media Queries */
@media (max-width: 1200px) {

    nav,
    header,
    main,
    footer {
        padding: 4% 10%;
    }

    .projects-container {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}

@media (max-width: 992px) {

    nav,
    header,
    main,
    footer {
        padding: 4% 8%;
    }

    nav ul {
        margin-top: 10px;
    }

    nav ul li {
        margin-left: 0;
    }

    .projects-container {
        grid-template-columns: 1fr;
        /* Afficher les projets en une seule colonne */
        gap: 50px;
        /* Espacement entre les projets */
    }
}

@media (max-width: 768px) {
    nav ul {
        display: none;
        /* Masquer le menu de navigation */
    }

    .formations {
        flex-direction: column;
        align-items: flex-start;
    }

    .certifications,
    .cv {
        margin-top: 20px;
    }
}

@media (max-width: 576px) {

    nav,
    header {
        padding: 4% 8%;
    }

    main,
    footer {
        padding: 4% 5%;
    }

    header img {
        width: 60px;
        height: 60px;
    }

    main {
        padding: 4% 5%;
        gap: 50px;
        /* Réduire l'espacement entre les sections pour les écrans plus petits */
    }

    section {
        padding: 15px;
    }

    .projects-container {
        grid-template-columns: 1fr;
        /* Afficher les projets en une seule colonne */
        gap: 15px;
        /* Réduire l'espacement entre les cartes de projet */
    }

    .card {
        margin-bottom: 20px;
        /* Ajouter un espacement inférieur entre les cartes */
    }

    .competences div {
        margin-bottom: 20px;
    }
}

@media (max-width: 480px) {

    nav,
    header {
        padding: 4% 8%;
    }

    .competences {
        flex-direction: column;
    }

    .competences li {
        padding-bottom: 0%;
    }

    footer {
        padding: 4% 5%;
    }
}

@media (orientation: landscape) {
    nav ul li {
        margin-left: 10px;
    }
}